body {background-color: gray;
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

/*Header Part*/
.header {display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: rgb(94, 93, 93);
       position: relative;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.268);
      }
      a {
        text-decoration: none;
        color: inherit;
        font-weight: 900;
        background-color: none;
        color: white;
        }
  
.logo {width: 120px;
   height: 120px;
   padding: 5px 15px;
   padding-left: 20px;
   background-color: rgb(94, 93, 93);
  }
 
.nav {display: flex;
 gap: 16px;
 padding: 5px 15px;
 position: relative;
 z-index: 1;
}
  
details {
    position: relative;
    margin-bottom: 10px;
  }
  
summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    font-weight: bold;
    box-sizing: border-box; 
    height: 40px; 
  }
  
summary:hover {background: #eea30080; }
  
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 85px;
    display: none; /* Standardmäßig versteckt */
  }
  
details[open] .dropdown {display: block;}
  
.dropdown p {
    margin: 5px;
    padding: 5px 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
.dropdown p:hover {background: rgba(255, 255, 255, 0.2);}
  
.icon-wrapper {
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  
summary:hover .fa-solid {
    background: #eea30080;}
  
#pp {padding: 5px;}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*Footer*/
.footer, #Kontakt-Link {background-color: #2e2e2e;
         color: gray;

}

.info, .copyright, #Kontakt, #copyright, .adress, #adress {margin: 10px;}

.flexbox {display: flex;
        justify-content: space-between;
        }                                                                  
      
main {
    margin: 50px 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
}

.mainContent {
    display: flex;
     flex-direction: column;                   
                }

.list, .rules {
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 149, 149);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.268)
}
 
li, h2 {margin: 2px;
        margin-left: 15px;
    }

h1 {color: orange;
    text-shadow: 1px  1px 1px #000, 1px -1px 1px #000, -1px  1px 1px #000, -1px -1px 1px #000;}