:root {--Aktuelle-meldungen-bg: rgb(150, 149, 149);
          --footer-font-color: rgb(167, 164, 164);
        }

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: grey;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  position: relative;
}

.logo {
  width: 120px;
  height: 120px;
  padding: 5px 15px;
  padding-left: 20px;
}

.nav {
  display: flex;
  gap: 16px;
  padding: 5px 15px;
  position: relative;
  z-index: 1;
}

details {
  position: relative;
  margin-bottom: 10px;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
  font-weight: bold;
  box-sizing: border-box; 
  height: 40px; 
}

summary:hover {
  background: #eea30080; 
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  width: 85px;
  display: none; /* Standardmäßig versteckt */
}

details[open] .dropdown {
  display: block;
}

.dropdown p {
  margin: 5px;
  padding: 5px 60px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.dropdown p:hover {
  background: rgba(255, 255, 255, 0.2);
}

.icon-wrapper {
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

summary:hover .fa-solid {
  background: #eea30080;}

#pp {padding: 5px;}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-container {
  position: relative; /* Container muss relativ sein, um den Text auf das Bild zu legen */
}

.big {
  width: 100%;
  height: 180px; 
  object-fit: cover; /* Bild wird im richtigen Seitenverhältnis angezeigt */
  margin-top: 80px;
  margin: 0;
  padding: 0; 
  position: relative; /* Wird benötigt, um den Text relativ zum Bild zu positionieren */
}

.text {
  position: absolute;
  bottom: 0; 
  right: 0;
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
  background-color: rgba(128, 128, 128, 0.637); 
  padding: 10px; 
  text-shadow: 1px  1px 1px #000, 1px -1px 1px #000, -1px  1px 1px #000, -1px -1px 1px #000;
}

.Willkommen {margin: 10px; 
                        margin-left: 20px;
                        color: orange;
                        text-shadow: 1px  1px 1px #000, 1px -1px 1px #000, -1px  1px 1px #000, -1px -1px 1px #000;
                      }

.overview {height: auto;
                   width: 100%; 
                   border: solid 22px darkgray;
                   border-radius: 6px;
                  }

.Meldungen {padding: 20px;
                      padding-top: 0px;
                      display: flex;
                      gap: 40px;
                      display: flex;
                      }

.container1 {margin-right: 40px;
                    }

.container2 {height: auto;
                      width: 100%; 
                      border: solid 22px darkgray;
                      border-radius: 6px;
                      background-color: var(--Aktuelle-meldungen-bg);                     
}

.A-M {color: white;
          text-shadow: 0.5px  0.5px 0.5px #000, 0.5px  -0.5px 0.5px #000, -0.5px  0.5px 0.5px #000, -0.5px  0.5px 0.5px #000; background-color:var(--Aktuelle-meldungen-bg);
          font-size: 20px;
          margin: 4px;
          margin-bottom: 20px;}

.Termin-links {color: orange;
                        text-shadow: 0.3px  0.3px 0.3px #000, 0.3px  -0.3px 0.3px #000, -0.3px  0.3px 0.3px #000, -0.3px  0.3px 0.3px #000;
                        width: 100%;
                      }

.Termine {margin: 4px;}


.footer {background-color: #2e2e2e;
color: var(--footer-font-color);}

.info, .copyright, #Kontakt, #copyright, .adress, #adress {margin: 10px;}

 .flexbox {display: flex;
                justify-content: space-between;
               }                                                                                            
