body {display: flex;
          flex-direction: column;
          font-family: Calibri
         }

ul {list-style: none;}

.part1 {background-color: #1F2937;
            color: white;
           }

.button1 {background-color: rgb(0, 139, 226);
                color: white;
               }
.heading-48px {font-size: 48px;
                           font-weight: 900; 
                          }

.part1-top {display: flex;
                   flex-direction: row; 
                   justify-content: space-between;
                   align-items: center;
                  }
