body {display: flex;
          flex-direction: column;
          font-family: Calibri;
          margin:  0;
          min-height: 100vh;
         }

ul {list-style: none;}

.part1 {background-color: #1F2937;
            color: white;
            padding: 10px;
            padding-left: 60px;
            padding-right: 60px;
           }

.button1 {background-color: #3882F6;
                color: white;
                border-radius: 4px;
                border: 0;
               }
.heading-48px {font-size: 48px;
                           font-weight: 900; 
                          }

.part1-top {display: flex;
                   flex-direction: row; 
                   justify-content: space-between;
                   align-items: center;
                  }

.links {display: flex;
            gap: 16px;
         }

.part1-bottom {display: flex;
                          flex-direction: row;
                          justify-content: center;
                          align-items: center;
                          gap: 20px;
                          justify-content: space-between;
                         }

.campfire {width: 200px;
        height: 200px;
         }
  
.fire-logo { width: 30px;
                  height: 30px;
                }
  
.text {padding-bottom: 8px;}   

.part2 {padding-top: 35px;
            padding-left: 60px;
            padding-right: 60px;
          }

.heading2 {font-size: 36px;
                  color: #1F2937;
                  font-weight: 900;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  }

img {width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
  
  .Objects-4 {display: flex;
                       justify-content: center;
                       align-items: center;
                       gap: 20px;
                      }
        
.image1, .image2, .image3, .image4 {border: solid 3px  #3882F6; border-radius: 8px;}

.image-text {display: flex;
                      justify-content: center;
                      align-items: center;
                      flex-direction: column;
                      }